$text: #e8e7e6;
$background: #100e0c;
$primary: #cebeae;
$secondary: #735638;
$accent: #c6996b;

body {
  background: $background;
}

#outer {
  display: flex;
  flex-direction: column;
  width: 100dvw;
}
#header {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem;

  .heading {
    order: 2;
  }

  nav {
    order: 3;

    .primary {
      background: none;
      width: 100%;
    }

    .search {
      display: none !important;
    }
    &#greeting {
      order: 1;
      display: flex;
      flex-direction: row;
      .icon {
        order: 1;
        height: 100%;
        width: auto;
        a {
          img {
            aspect-ratio: 1;
          }
        }
      }
    }
  }

  .clear {
    display: none !important;
  }
}

a.tag {
  color: $text;
}

.user {
  display: grid;
  order: 2;
  grid-template-columns: auto auto;
  > li {
    a {
      color: $text !important;
      font-size: 0.75rem;
    }
    &.dropdown:nth-child(1) {
      grid-column: 1 / span 2;
    }
  }
}
